* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}

.sidebar,
.sidebar-icons,
.nav-menu.open,
.nav-menu ul,
.nav-menu-foot,
.hero-unsplash,
.hero-edit,
.hero-collections,
.cards,
.column {
    display: flex;
    flex-direction: column;
}

.icon-btn,
.nav-select,
.nav-menu ul button {
    background: none;
    border: none;
    cursor: pointer;
}

.icon-btn:hover,
.card:hover {
    background: #eaeaea;
}

.nav-link,
.categories a,
.collections-header a,
.nav-menu-foot a,
.search-start,
.search-end {
    color: #767676;
}

.sidebar {
    width: 64px;
    height: 100vh;
    border-right: 1px solid #d1d1d1;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.sidebar-logo {
    width: 24px;
    padding: 16px 0;
}

.sidebar-icons {
    align-items: center;
    gap: 6px;
}

.icon-btn {
    font-size: 20px;
    color: #606060;
    padding: 10px;
    border-radius: 8px;
}

.container {
    margin-left: 4vw;
    max-width: 96vw;
}

header {
    position: sticky;
    top: 0;
    z-index: 5;
}

.top-nav {
    width: 95vw;
    height: 62px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    gap: 25px;
    background: #fff;
}

.mobile-top-nav {
    height: 40px;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background: #fff;
}

.nav-select {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-menu {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: absolute;
    top: 62px;
    right: 0;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    padding: 16px;
}

.nav-menu ul {
    width: 100%;
    align-items: start;
    gap: 16px;
    padding: 10px 0;
    list-style: none;
    border-bottom: 1px solid #d1d1d1;
}

.nav-menu ul button {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px;
    color: #111;
    font-size: 14px;
    font-weight: 700;
}

.nav-menu ul button i {
    width: 20px;
    font-size: 20px;
}

.foot-actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-menu-foot {
    gap: 10px;
}

.nav-menu-foot a {
    text-decoration: underline;
    font-size: 14px;
    font-weight: 400;
}

.nav-menu-foot a:hover {
    color: #111;
}

.nav-menu-foot p {
    color: #767676;
    font-size: 14px;
}

.search-bar {
    flex: 1;
    background: #eee;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    gap: 10px;
}

.search-bar input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 14px;
}

.search-bar:hover {
    background: #e6e6e6;
}

.search-start,
.search-end {
    font-size: 16px;
    cursor: pointer;
}

.top-actions {
    display: flex;
    align-items: center;
    gap: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
}

.nav-link:hover {
    color: #111;
}

.top-actions :nth-child(1) {
    color: #111;
}

.btn-submit {
    height: 32px;
    padding: 10px;
    border: 1px solid #d1d1d1;
    background: #fff;
    border-radius: 8px;
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-submit:hover {
    border-color: #111;
    color: #111;
}

.category-bar {
    padding: 5px 20px 0 25px;
    border-bottom: 1px solid #d1d1d1;
    background-color: #fff;
}

.categories {
    display: flex;
    list-style: none;
    gap: 24px;
    overflow-x: auto;
    white-space: nowrap;
    height: 48px;
    align-items: center;
}

.categories li {
    padding: 0 0 20px 0;
}

.categories::-webkit-scrollbar {
    display: none;
}

.categories a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 14px;
}

.categories a:hover {
    color: #111;
}

.categories li.active {
    border-bottom: 2px solid #111;
}

.categories li.active a {
    color: #111;
}

.main-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero {
    min-width: 80vw;
    height: 420px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    padding: 55px 0 60px 0;
}

.hero-unsplash {
    width: 50%;
    height: 100%;
    justify-content: flex-end;
}

.hero-text {
    position: relative;
    max-width: 600px;
}

.hero-text h1 {
    font-size: 40px;
    margin-bottom: 8px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 5px;
}

.hero-search-bar {
    background: #eee;
    height: 55px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    margin-top: 15px;
    gap: 12px;
}

.hero-search-bar:hover {
    background: #e6e6e6;
}

.hero-search-bar input {
    flex: 1;
    border: none;
    background: none;
    outline: none;
    font-size: 15px;
}

.hero-search-bar .search-start,
.hero-search-bar .search-end {
    color: #767676;
    font-size: 18px;
    cursor: pointer;
}

.hero-edit,
.hero-collections {
    height: 100%;
    padding: 20px;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
}

.hero-edit h2 {
    font-size: 18px;
    font-weight: 500;
}

.hero-edit p,
.hero-collections p {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 300;
}

.hero-edit img {
    width: 250px;
    object-fit: cover;
    border: 2px solid #c3c3c3;
    margin-top: 30px;
}

.hero-edit img:hover {
    opacity: 0.8;
}

.collections-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 14px;
}

.collections-header h2 {
    font-size: 16px;
    font-weight: 500;
}

.collections-header a {
    font-size: 15px;
}

.card {
    display: flex;
    gap: 8px;
    padding: 10px;
    border-radius: 12px;
}

.card img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 6px;
}

.hero-collections h3 {
    font-size: 16px;
    font-weight: 500;
}

.hero-collections a:hover {
    color: #111;
}

.photo-grid {
    max-width: 80vw;
    display: flex;
    gap: 24px;
}

.column {
    flex: 1;
    gap: 24px;
}

.grid-img {
    width: 100%;
    background: #f5f5f5;
    display: block;
}

@media (max-width: 1024px) {

    .photo-grid :nth-child(2) {
        display: none;
    }

    .hero-collections {
        display: none;
    }
}

@media (max-width: 768px) {

    .sidebar,
    .top-actions,
    .hero-edit {
        display: none;
    }

    .container {
        margin-left: 0;
    }

    .hero-unsplash {
        width: 100%;
    }

    .photo-grid {
        flex-direction: column;
        max-width: 95vw;
    }

    .mobile-top-nav {
        display: flex;
    }
}